<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Open Page</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add any meta tags, stylesheets, or other head elements here -->
</head>
<body>

  <div class="main">

    <div>
      <img class="topImg" src="assets/Resources/top.jpg">
    </div>

    <div class="desc">
      <img class="imgTitle" src="assets/Resources/img1.PNG">
      <pre class="desH1">Welcome To my Online
  Library</pre>

      <div class="text1">
        <p>This is a little website about books. You will find a little news page and a TBR one, to help you keep trac of your desired books</p>
      </div>

    </div>

    <div class="sideImgs">
      <img class="sideImg" src="assets/Resources/imgsList1.jpg">
    </div>

    <div class="sideImgs" style="top: 130%;">
      <img class="sideImg" src="assets/Resources/imgsList2.jpg">
    </div>

    <div class="sideImgs" style="top: 165%;">
      <img class="sideImg" src="assets/Resources/imgsList3.jpg">
    </div>

    <div class="buttonContainer">
        <button  class="btn" routerLink="/main">Jump to the TBR</button>
    </div>

  </div>





</body>
</html>

